.accordion{
  ul{
    list-style: none;
    margin: 0; padding: 0;
    text-align: left;
  }
  body > ul {
    margin-bottom: 300px;
    border: 1px solid #222;
  }
  ul > li {
    position: relative;
  }
  ul > li > a {
    display: block;
    outline: 0;
    padding: .7em 1em;
    text-decoration: none;
    color: #fff;
    font-weight: bold;

    background: #333;

    border-bottom: 1px solid #222;
  }
  ul > li > ul {
    counter-reset: items;
    height: 0;
    overflow: hidden;
    background: #eee;
    color: #777;
    font-size: .75em;
  }
  ul > li > ul > li {
    counter-increment: items;
    padding: .5em 1.3em;
    border-bottom: 1px dotted #DDD;
  }
  ul > li > ul:after {
    content: counter(items);
    font-size: 0.857em;
    position: absolute;
    right: 10px;
    top: 15px;
    background: #333;
    line-height: 1em;
    height: 1em;
    padding: .7em .8em;
    margin: -.8em 0 0 0;
    color: white;
    text-indent: 0;
    text-align: center;

    font-weight: 500;

  }
}