.tooltip-box{
  p{
    display: block;
    width: 100%;
    margin: 1em auto;
  }
}

.tooltip-text{
  position:absolute;
  z-index:999;
  left:-9999px;
  background-color:#dedede;
  padding:5px;
  border:1px solid #fff;
  width:250px;
  p{
    color:#fff;
    background-color:#222;
    padding:2px 7px;
  }
}
